.container .row .col-md-auto p {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size:25px;
    color:#FFFFFF;
    text-align: center;
}

.container .col-md-6 .contacts{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact a {
    padding-left: 20px;
	margin-left: 5px;
    text-decoration: none;
    color: #FFFFFF;
	font-weight: bold;
}

.skype a {
	padding-left: 30px;
	
}

.contact a:hover {
    color: #FFFFFF;
	font-weight: bold;
    padding: 20px;
    background: #FFB700;
    color: black;
    border-radius: 10px;
}

.skype a:hover {
	padding: 20px 30px 20px 30px;		
}
#message {
    text-align: center;
    font-size: 30px;

    color: #FFFFFF;
    padding: 20px;
}
