body {
    max-width: 1140px;
    background-color: #0A0A0A;
    margin:0 auto;
	padding-inline-start: 0px;
}

.table {
    margin-top: 30px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    width: 100%;
}

.table tr {
    font-size: 16px;
    font-weight: normal;
    background: #525252;
    border: 2px solid #1C1C1C;
    color: #FFFFFF;
    padding: 8px;
    height: 50px;
}

.table td {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background: #6b6b6b;
    border: 2px solid #1C1C1C;
    color: #FFFFFF;
    padding: 8px;
}

.table tr:hover td {
	background: #17191B;
	color: #FFB700;
}

#number {
	width: auto;
	height: 20px;
	background-color: #FFD85D;
	color: #343434;
	text-align: center;
	font-weight: bold;
	border-color: #FFB012;
	padding-left:15px;
}

.table-caption {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-weight: bold;
    color: #FFFFFF;
    opacity: 90%;
                }

.summary {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-weight: bold;
    color: #FFFFFF;
    opacity: 90%;
}

.summary .summary-title, .summary .movie-title {
    text-align:center;
}

.summary .movie-title:hover {
    color: #FFB700;
    cursor: pointer;
}

.summary .movie-summary:hover {
    color: #FFB700;
    cursor: pointer;
}

.home-page {
	margin: 40px 20px 40px 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    color: #dadadafa;
}

.home-page p {
	font-size: 20px;
    display: flex;
    flex-direction: column;
}

.home-page h2 {
	text-align: center;
}

@media (max-width: 448px) {
    .table, .summary-title {
        display: none;
    }

    .movie-title {
        font-size: 25px;
    }
